@charset "utf-8";

@font-face {
  font-family: MoonTime-Regular;
  src: url('fonts/moontime/MoonTime-Regular.ttf'); 
}

@font-face {
  font-family: BukhariScript-Regular;
  src: url('fonts/bukhari/BukhariScript-Regular.ttf'); 
}


body {
    /*background-image: var(--primary-color);*/
    background-size: 400px;
    background-position: center;
    margin: 0px;
    padding: 0px;
    font-family: myriad pro;
    background: var(--fundo);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main {
    width: 100%;
    height: 100vh;
    /*background-image: var(--primary-color); */
    background: var(--fundo);
    background-size: 800px;
    background-position: center;
    /*position: relative;*/
}

.logo {
    position: absolute;
    left: 90px;
    top: 60px;
    z-index: 1;
}

.logo a {
    position: absolute;
    font-family: BukhariScript-Regular;
    font-weight: 800;
    color: var(--logo);
    font-size: 2rem;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-style: italic;
}
.logo h1 {
    position: absolute;
    font-family: MoonTime-Regular;
    font-weight: 800;
    color: var(--logo);
    font-size: 4.5rem;
    text-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    letter-spacing: 1px;
    font-style: italic;
    margin-top: -60px;
    margin-left: 37px;
}

.logo font {
    color: #287dfc;
}

.nav {
    padding: 3rem 0;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20%;
    margin-top: 3%;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}

.nav-item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link.icon {
    font-size: 1.3rem;
    color: var(--icon-nav);
}

.top-nav {
    display: none;
}

.nav-item:not(:last-child) {
    margin-right: 0.5rem;
}

.search {
    position: fixed;
    right: 90px;
    top: 50px;
    width: 60px;
    height: 60px;
    background-color: var(--write);
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(167, 158, 245, 0.2);
    z-index: 3;
    cursor: pointer;
    overflow: hidden;
}

.search.active {
    width: 360px;
}

.search .icone {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: var(--fff);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icone:hover {
    background-color: var(--search-icone);
    transition: all ease 0.5s;
}

.search .icone::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border: 3px solid var(--search);
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icone::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 3px;
    background: var(--search);
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.search .input input {
    top: 0;
    margin-right: 68%;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-search);
    font-size: 1rem;
    padding: 10px 0;
    background: transparent;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: var(--search);
    transform: rotate(315deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: var(--search);
    transform: rotate(-315deg);
}

.main-img {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
}

.main-img img {
    height: 450px;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
}

.main-text h1,
h2 {
    font-family: roboto;
    font-weight: 700;
    margin: 0px;
    line-height: 60px;
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    letter-spacing: 3px;
    color: var(--main-btn);
    text-transform: uppercase;
}

.main-btn {
    width: 150px;
    height: 40px;
    background-color: var(--main-btn);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    color: var(--write);
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.main-btn:hover {
    background-color: #3e3a6b;
    transition: all ease 0.5s;
}

.main-text h1 {
    letter-spacing: 28px;
}

.main-text font {
    color: #287dfc;
}

.social a {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: var(--write);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    padding: 5px 0px;
    z-index: 1;
}

.social a i {
    color: var(--social-icone);
}

.social a:hover .fa-facebook-f {
    color: #3b5998;
}

.social a:hover .fa-twitter {
    color: #00acee;
}

.social a:hover .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.social a:hover .fa-youtube {
    color: #ff0000;
}

.product {
    width: 85%;
    /*background-color: var(--write);*/
    background-color: var(--product);
    box-shadow: 2px 2px 30px rgba(111, 111, 111, 0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    border-radius: 10px;
}

.p-heading {
    margin: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.p-heading h3 {
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    color: var(--main-btn);
}

.p-heading font {
    color: #287dfc;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
    text-align: -webkit-center;
}

.p-box {
    width: 250px;
    height: 330px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    margin: 10px 30px;
}

.p-box img {
    height: 180px;
    margin-top: 40px;
}

.p-box p {
    color: #4d4d4d70;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 2%;
}

.price {
    color: var(--price);
    font-family: poppins;
    font-size: 1rem;
    margin-bottom: 2%;
}

.buy-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 50%;
    color: var(--write);
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    display: none;
    animation: fade 0.2s;
}

.p-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background: var(--p-box-hover);
}

.p-box:hover .prive {
    color: #6b60ec;
    transition: all ease 0.2s;
}

.p-box:hover .buy-btn {
    display: flex;
}

.p-box .icons {
    position: absolute;
    top: 45%;
    right: 5%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transform: all 500ms ease-in-out;
}

.p-box .icons a {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background: var(--p-box-hover);
    font-size: 2rem;
    color: var(--black);
    display: block;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    line-height: 2.2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

a:hover .p-box::aflter {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 500ms ease-in-out;
}

.p-box .icons a i {
    transition: all 500ms ease-in-out;
}

.p-box .icons a:not(:last-child) {
    margin-bottom: 1rem;
}

.p-box .icons a:hover {
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: var(--fff);
}

.p-box:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

.p-box:hover .icons {
    display: inline-block;
    margin-bottom: 1rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.our-brand {
    display: flex;
    width: 85%;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.brand-text {
    width: 40%;
}

.brand-img {
    height: 500px;
    width: 50%;
    box-sizing: border-box;
}

.brand-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brand-text h3 {
    color: #333333;
    font-weight: 700;
    font-size: 2rem;
    margin: 0px;
}

.brand-text h4 {
    color: #333333;
    font-weight: 400;
    font-size: 3rem;
    margin: 0px;
}

.brand-text p {
    font-size: 1rem;
    color: #8F8F8F;
    letter-spacing: 0.5px;
}

.brand-text font {
    color: #287dfc;
}

.subcribe-container {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.subcribe-container h3 {
    font-size: 2rem;
    color: var(--subcribe-h3);
}

.subcribe-input {
    width: 500px;
    background-color: var(--write);
    border-radius: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.2);
}

.subcribe-input input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--black);
}

.subcribe-btn {
    width: 120px;
    height: 40px;
    background-color: var(--email-enviar);
    border-radius: 30px;
    color: var(--write);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.subcribe-btn:hover {
    background-color: #6b60ec;
    transition: all ease 0.5s;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: var(--primary-color);
    background-size: 400px;
    background-position: center;
    border-radius: 10px;
}

footer h3 {
    font-size: 2.5rem;
    color: var(--logo);
    margin: 0px;
}

footer font {
    color: #287dfc;
    font-style: italic;
}

.footer-menu {
    display: flex;
    box-shadow: 2px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--write);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px 40px;
}

.footer-menu li a {
    padding: 5px 20px;
    margin: 10px;
    display: flex;
    color: var(--main-btn);
}

.footer-menu .bg {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background: var(--write);
}

.footer-menu .bg:hover {
    background-color: #6b60ec;
    transition: all ease 0.5s;
}

.footer-menu li a:hover {
    color: var(--footer-menu-a);
}

.copyright {
    color: #e7e7e7;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.top {
    position: fixed;
    right: 90px;
    bottom: 5%;
    width: 40px;
    color: #287dfc;
    height: 40px;
    background-color: var(--p-box-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
    z-index: 1;
}

:root {
    /* --primary-color: url("fundo/item4.jpg"); */
    --write: #FFFFFF;
    --black: #111111;
    --fff: #fff;
    --logo: #2f2e41;
    --search: #287dfc;
    --icon-nav: #287dfc;
    --main-btn: #2f2e41;
    --subcribe-h3: rgba(56, 56, 56);
    --price: #0015FF;
    --text-search: #111111;
    --p-box-hover: #fff;
    --email-enviar: #000;
    --footer-menu-a: #ffffff;
    --search-icone: #ff0000;
    --social-icone: rgba(39, 39, 39, 0.8);
    --mode: #575858;
    --user-pay: #ff0000;
    --product: #ecf1f5;
    --fundo: #b2c2d1;
}

.dark-theme {
    /*--primary-color: url("fundo/fundo-dark.jpg");*/
    --write: #111111;
    --black: #FFFFFF;
    --fff: #111;
    --logo: #ffffff;
    --search: #ffffff;
    --icon-nav: whitesmoke;
    --main-btn: #a7a6c0;
    --subcribe-h3: #FFF;
    --price: #a7a6c0;
    --text-search: #FFFFFF;
    --p-box-hover: #3B3B41;
    --email-enviar: #717171;
    --footer-menu-a: #ffffff;
    --search-icone: #030020;
    --social-icone: rgba(255, 255, 255, 0.8);
    --mode: #287dfb;
    --user-pay: #ff0000;
    --fundo: #000;
    --product: #525252;
}

.mode {
    position: fixed;
    right: 90px;
    bottom: 5%;
    width: 40px;
    height: 40px;
    color: var(--black);
    background-color: var(--p-box-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
    z-index: 1;
    cursor: pointer;
}

.mode img {
    color: var(--mode);
}

.mode:hover {
    background: #00acee;
}

.bx-user:hover {
    color: var(--user-pay);
}

.bx-shopping-bag:hover {
    color: var(--user-pay);
}

@media(max-width:1230px) {
    .main-img img {
        height: 350px;
    }
    .main-text h1,
    h2 {
        font-size: 3.5rem;
    }
}

@media(max-width:1045px) {
    .main {
        background-size: 600px;
    }
    .main-img {
        display: none;
    }
    .main-text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .our-brand {
        flex-direction: column-reverse;
    }
    .brand-text,
    .brand-img {
        width: 100%;
    }
    .brand-img {
        height: 300px;
        margin: 20px;
    }
}

@media(max-width:600px) {
    .social {
        display: none;
    }
    .logo {
        left: 40px;
        top: 30px;
    }
    .top {
        right: 30px;
    }
    .logo a {
        font-size: 1.3rem;
        top: 30px;
    }
  
  
  .logo h1 {
    font-size: 3rem;
    margin-top: -39px;
    margin-left: 25px;
}
    .nav-list {
        margin-right: 25%;
        margin-top: 5%;
    }
    .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #243a6f;
        padding: 1rem 1.6rem;
    }
    .search {
        right: 30px;
        top: 50px;
    }
    .search.active {
        width: 190px;
    }
    .main-text {
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .main-text h1,
    h2 {
        font-size: 2.5rem;
        letter-spacing: 10px;
        margin: 0px 20px;
        line-height: 40px;
    }
    .main-text h2 {
        font-size: 1.2rem;
    }
    .main-btn {
        margin: 0px 20px;
    }
    .product {
        width: 88%;
    }
    .p-box {
        margin: 20px 10px;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }
    .p-box .icons span {
        font-size: 1.5rem;
    }
    .subcribe-container h3 {
        font-size: 1.4rem;
        text-align: center;
    }
    .subcribe-input {
        width: 95%;
    }
    .footer-menu {
        width: 100%;
        margin: 20px;
        flex-wrap: wrap;
        background-color: none;
        box-shadow: none;
    }
    .footer-menu li a {
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
        padding: 10px 30px;
    }
    .copyright {
        text-align: center;
    }
    
        .small {
    width: 100px;
    height: 100px;
    left: -50px;
    bottom: -50px;
}

.medium {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.large {
    width: 300px;
    height: 300px;
    left: -150px;
    bottom: -150px;
}

.xlarge {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.xxlarge {
    width: 500px;
    height: 500px;
    left: -250px;
    bottom: -250px;
}

    
}

@media(max-width:320px) {
    .nav-list {
        display: grid;
        margin-right: 25%;
        margin-top: 3%;
    }
    .search.active {
        width: 145px;
    }
    .search .input input {
        margin-right: 85%;
        font-size: 12px;
        background: transparent;
    }
    .p-box .icons {
        right: 28%
    }
}

@media(min-width:768px) {
    .search .input input {
        margin-right: 13%;
    }
}

@media(min-width:1024px) {
    .nav-list {
        margin-right: 20%;
        margin-top: 2%;
    }
}

@media(min-width:1440px) {
    .nav-list {
        margin-right: 20%;
        margin-top: 1.5%;
    }
}

.loader {
    background: #000 url("loader.gif/loader5.gif") no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.disppear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
